 .container{
  width: 50%;
  margin: 0 auto;
  align-content: center;
}
.h1{
  margin-left: 15500px;
}
.card{
  display: flex;
  width: 60%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: aqua;
  border-color: black;
}
.card p {
  text-align: center;
  font-size: 25px;

}
.asd{
  border-radius: 15px;
  color: plum;
  margin-left: 0 auto;
}
.foto{
  margin-left: 75px;
  max-width: 350px;
}
